*{
    padding:0;
    margin:0;
}
nav{
  box-shadow: 5px 1px 12px #555;
  
}
.nav-center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: rgb(255, 255, 255);

}
h4{
  color: rgba(37, 218, 197, 100%);
  margin-right:50%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.nav-links li{
   float: left;
   list-style: none;
   margin: 10px;
   font-family: "Roboto", sans-serif;
}
.container{
   text-align: center;
   margin-top: 290px;
}
h2{
  margin: 32px 536px;
  background-color: black;
  color: #fff;
  padding: 20px 20px;
  font-size:35px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
}
button{
  border: 2px solid black;
  padding: 15px 33px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: rgb(231, 243, 243);
}